header{
    text-align: left;
    background-color: #bba5cdf3;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 10px;
    color: rgb(254, 255, 247);
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
}

h1{
    font-size: 48px;
    text-transform: capitalize;
    font-family: "DynaPuff", sans-serif;

}

h2 {
    font-size: 20px;
    line-height: 5px;

}

#name{
    color: #2F5A78;
    font-size: 20px;
    font-weight: bold;
    line-height: 0px;
}

#experience{
    text-align: left;
}

.summary{
    font-size: 16px;
}

.meImg img{
    float: right;
    border-radius: 50%;

}

#summaryTable{
    border: 2px solid #ffffff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li b {
    color: #2F5A78;
}

li {
    margin-bottom: 5px;
} 

input[type='text'], input[type='email'] {
    border: 1px solid #2F5A78;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
}
    
textarea {
    border: 1px solid #2F5A78;
    width: 203px;
    padding: 5px;
    margin-bottom: 5px;
}
  
label {
    font-weight: bold;
    color: #2F5A78;
}
  
input[type='submit'] {
    background-color: #2F5A78;
    border: none;
    border-radius: 7px;
    padding: 7px 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 7px;
} 

#contacForm{
    padding: 10%;
}

footer {
    padding: 2px 10px;
    text-align: center;
}

footer a {
    color: #1a8b9f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
} 

#copyright{
    text-align: center;
}

table { 
    border-collapse: collapse;
    width: 90%;
} 

#about_me{
    padding-left: 5%;
    text-align: center;
}
  
#optionmenu{
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #77499e;
}

.active {
    background-color: #943e86;
}

#navBar{
    padding-left: 15%;
}
  