header{
    text-align: left;
    background-color: #7adcc6d3;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 5px;
    backdrop-filter: blur(3px);
}

#subtitle{
    padding-left: 23%;
}

body{
    font-family:Krub, sans-serif;
    margin-top: 100px;
    font-size: 20px;
}

h1{
    font-size: 68px;
    text-transform: capitalize;
    font-family: "Pacifico", sans-serif;
    color: rgb(0, 37, 44);

}

h2 {
    font-size: 20px;
    line-height: 5px;

}

#name{
    color: #2F5A78;
    font-size: 20px;
    font-weight: bold;
    line-height: 0px;
}

#experience{
    text-align: center;
}

.summary{
    font-size: 16px;
}

.meImg img{
    float: initial;
    border-radius: 50%;
}

#summaryTable{
    border: 2px solid #ffffff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li b {
    color: #2F5A78;
}

li {
    margin-bottom: 5px;
} 

input[type='text'], input[type='email'] {
    border: 1px solid #2F5A78;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
}
    
textarea {
    border: 1px solid #2F5A78;
    width: 203px;
    padding: 5px;
    margin-bottom: 5px;
}
  
label {
    font-weight: bold;
    color: #2F5A78;
}
  
input[type='submit'] {
    background-color: #2F5A78;
    border: none;
    border-radius: 7px;
    padding: 7px 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 7px;
} 

#contacForm{
    padding: 10%;
}

footer {
    padding: 2px 10px;
    text-align: center;
}

footer a {
    color: #1a8b9f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
} 

#copyright{
    text-align: center;
}

table { 
    border-collapse: collapse;
    width: 90%;
} 

#about_me{
    padding-left: 5%;
    text-align: center;
}
  
#optionmenu{
    float: left;
}
  
li a {
    display: block;
    color: rgb(6, 31, 33);
    text-align: center;
    padding: 60px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #7cffd1;
}

.active {
    background-color: #1c8869;
    color: #ffffff;
}

.navBar{
    padding-left: 5%;
    font-size: 20px;
}

.datagrove img{
    float: initial;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px rgb(212, 212, 212);
}